.results-container {
  width: 90%;
  margin: 1vh auto;
  padding: 20px;
  background-color: #f2cc8a;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.results-container h2 {
  font-size: 2rem;
  color: #4e3b31; /* Rich Brown for the header */
  text-align: center;
    font-size: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

/* Cards Container */
.cards-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 20px;
  padding: 20px 0;
}

/* Pagination Controls */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #ffcc00;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.pagination button:disabled {
  background-color: #e6e6e6; /* Light Gray when disabled */
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #f48c8c; /* Vibrant Coral when hovering */
}

.pagination button:hover {
  background-color: #ffcc00;
  color: #fff;
}

.pagination span {
  font-size: 1.2rem;
  font-weight: bold;
}
