:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Quicksand", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  color-scheme: light dark;
  /* background-color: #1e3502;  */
  
  /* background-color:#242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


